*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.class{
    max-width:30vw;
    min-height: 25vh;
}
.student:hover{
    color:goldenrod;
}
.course:hover{
    color:cadetblue;
}
.attend:hover{
    color:aquamarine;
}